*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url("Alabay Merch/Alabay heritage prev gradient.png");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: 'Baron Kuffner';
    src: url('Baron Kuffner.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.section-1{
	margin: 30px 50px;
}
.section-1 div h1{
    font-family: 'Baron Kuffner',sans-serif;
	font-size: 96px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}
.section-1 div span{
	font-family: 'Bebas Neue',sans-serif;
	font-size: 35px;
	font-weight: 400;
	letter-spacing: 0.23em;
	color: rgba(144, 255, 174, 1);
}
.section-1 div p{
	font-family: 'Montserrat',sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	margin:30px 0 40px 0;
}
.section-1 div a{
	text-decoration: none;
	border: 1px solid rgba(144, 255, 174, 1);
	background: rgba(144, 255, 174, 1);
	padding: 10px 35px;
	border-radius: 25px;
	color:rgba(32, 30, 38, 1);
	font-family: Helvetica;
	font-weight: bold;
}

.section-1 div a:hover{
	border: 1px solid black;
	background-color: black;
	color: white;
	transition: all 0.8s ease;
}
.section-2{
	margin: 60px 50px 20px 50px;
}
.section-2 h1{
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 700;
	color: rgba(144, 255, 174, 1);
}
.section-2 span{
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 700;
	color:rgba(255, 255, 255, 1);
}

.section-3{
	display: flex;
	align-items: center;
	margin: 0 30px;
}
.section-3 div{
	padding: 0 20px;
}
.section-3 div img{
	max-height: 200px;
	border:  2px solid white;
	border-radius: 10px;
}

@media (max-width:768px){
	.section-1{
		margin: 20px 10px;
	}
	.section-2{
		margin: 30px 10px 20px 10px;
	}
	.section-3{
		margin: 0 10px;
		flex-direction: column;
	}
	.section-3 div{
		padding: 20px 0;
	}

}