body{
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
#One a{
  text-decoration: none;
  color: black;
}
.Relative{
  position: absolute;
}
#One{
  padding-left: 70px;
  position: relative;
  border: 1px solid #f1f1f1;
  padding-bottom: 35px;
  width: 100%;
  top: -27.7px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#One .One-a{
  color: gray;
  line-height:23px;
  letter-spacing: 1px;
}
#One .One-1{
  display:inline-block;
  padding-right: 90px;
}
#One p{
  font-size: 15px;
}
#One h3 a:hover{
  color: blue;
}
.p{
  padding-bottom:25px;
}
#One .P{
  padding-bottom: 10px;
}
.One-2{
  float: right;
  margin-top: -30px;
  background-color:aliceblue; 
  border: 1px solid aliceblue;
  padding: 30px 301px 30px 60px;
}
.One-2 .One-a2{
  line-height:23px;
  letter-spacing: 1px;
}
.D{
  padding-top: 10px;
}

#Two a{
  text-decoration: none;
  color: black;
}
.Relative{
  position: absolute;
  top:100px;
}
#Two{
  padding-left: 70px;
  position: relative;
  border: 1px solid #f1f1f1;
  padding-bottom: 35px;
  top:-27.7px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#Two .One-a{
  color: gray;
  line-height:23px;
  letter-spacing: 1px;
}
#Two .One-1{
  display:inline-block;
  padding-right: 90px;
}
#Two p{
  font-size: 15px;
}
#Two h3 a:hover{
  color: blue;
}
.p{
  padding-bottom:25px;
}
#Two .P{
  padding-bottom: 10px;
}
#Two .One-2{
  float: right;
  margin-left: 30px;
  margin-top: -443px;
  background-color:lightslategray;
  border: 1px solid lightslategrey;
  padding: 24px 254px 44.5px 70px;
}
.One-2 .One-a2{
  line-height:23px;
  letter-spacing: 1px;
}
.D{
  padding-top: 10px;
}



#Three a{
  text-decoration: none;
  color: black;
}
.Relative{
  position: absolute;
  top:100px;
}
#Three{
  padding-left: 70px;
  position: relative;
  top: -27.7px;
  border: 1px solid #f1f1f1;
  padding-bottom: 35px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#Three .One-a{
  color: gray;
  line-height:23px;
  letter-spacing: 1px;
}
#Three .One-1{
  display:inline-block;
  padding-right: 90px;
}
#Three p{
  font-size: 15px;
}
#Three h3 a:hover{
  color: blue;
}
.p{
  padding-bottom:25px;
}
#Three .P{
  padding-bottom: 10px;
}
#Three .One-2{
  float: right;
  margin-top: -440px;
  background-color:aliceblue;
  border: 1px solid aliceblue;
  padding: 30px 130px 30px 60px;
}
.One-2 .One-a2{
  line-height:23px;
  letter-spacing: 1px;
}
.D{
  padding-top: 10px;
}
.Four{
  margin-top: -10px;
  border: 2px solid #f1f1f1;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #f1f1f1;
}
#W{
  position: relative;
  top: 5px;
  left: 30px;
}
.Four a{
  text-decoration: none;
  padding-right:50px;
  color:gray;
  font-size:17px;
  font-weight: lighter;
}
.Four select{
  border: none;
}
.Four #Get{
  border: 2px solid #3374FF;
  padding: 10px 35px;
  border-radius: 45px;
  background-color: #3374FF;
  color:white;
}
.Four #Get:hover{
  background-color: blue;
}
.Four a:hover{
  color:rgb(0, 0, 0);
}
select{
  color: gray;
}
#Log:hover{
  color: blue;
}
.Five{
  margin-top:-65px;
  text-align: center;
  background-color:darkcyan;
  padding-bottom: 100px;

}
.Five h1{
  padding-top: 70px;
  font-size: 100px;
  font-weight: lighter;
  color: white;
}
.Five p{
  margin-top: -40px;
  font-size:18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 26px;
  margin-bottom: 50px;
}
.Five a{
  text-decoration: none;
  border: 2px solid white;
  padding: 15px 40px;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 40px;
}
.Five a:hover{
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 40px;
}
.Five h4{
  margin-top: 50px;
  color:white;
}
#Img-1{
  position: relative;
  top: -370px;
  left: -100px;
}
.Six a{
  text-decoration: none;
  border: 2px solid white;
  padding: 15px 30px;
  background-color: white;
  color: black;
  font-size: medium;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  top: 560px;
  position: fixed;
  left: 4px;
}
.Six a:hover{
  border: 2px solid black;
  background-color: black;
  color: white;
}
.Seven{
  margin-left: 200px;
}
.Seven #P-tag{
  margin-left:40px;
  font-size: 60px;
  font-weight:normal;
  letter-spacing: 3px;
  line-height: 73px;
}
.Seven .Inline{
  display: inline-block;
  padding: 0 40px;
  position: relative;
  top:-20px;
  /* border-top: 2px solid gray; */
}
.Seven .Inline p{
  line-height: 26px;
  font-size: 17px;
  letter-spacing: 1.2px;
}
.Seven hr{
  border: 1px solid gray;
}
.Seven a{
  text-decoration: none;
  border: 1px solid white;
  padding: 20px 50px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 40px;
}
.Seven a:hover{
  border: 1px solid blue;
  background-color: blue;
}
.Eight{
  margin-top: 150px;
  background-color: black;
  padding-bottom:130px;
}
.Eight-one{
  text-align: center;
  padding-top: 13px;
}
#Eight-one-p1{
  font-size:70px;
  color: white;
}
#Eight-one-p2{
  margin-top: -30px;
  font-size:19px;
  letter-spacing: 1.2px;
  line-height: 26px;
  color: white;
 }
.Eight-one #Eight-one-p3{
  margin-top:60px;
}
 .Eight-one #Eight-one-p3 a{
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
  border: 1px solid black;
  padding: 20px 50px;
  background-color: white;
  color: black;
  border-radius: 40px;
 }
 .Eight-one #Eight-one-p3 a:hover{
  background-color: lightgray;
  border: 1px solid lightgrey;
 }
 .Eight-Two{
  margin-left:55px;
  margin-top: 100px;
  overflow: auto;
  white-space: nowrap;

 }
 .Eight-Two .Eight-Two-one{
  display: inline-block; 
  padding: 0 20px;
  /* padding: 30px 50px; */
 }
.Eight-Two .Eight-Two-one p{
  color: white;
  font-size: medium;
  font-weight: bold;
}
.Nine{
  padding-left: 200px;
}
.Nine #Nine-p1{
  padding-top: 50px;
  font-size: 65px;
  letter-spacing:2px;
  line-height: 75px;
}
.Nine #Nine-p2{
  font-size: 17px;
  letter-spacing: 1.2px;
  line-height: 26px;
  float: right;
  margin-top: -200px;
  margin-right:200px;
}
.Nine #Nine-p2 a{
  position: relative;
  top: 50px;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid black;
  padding: 20px 50px;
  background-color: black;
  color:white;
  border-radius: 40px;
}
.Nine #Nine-p2 a:hover{
  border: 1px solid blue;
  background-color:blue;
}
.Ten{
  margin-top: 120px;
}
.Ten-one{
  border: 1px solid lightgray;
  background-color: lightgray;
  padding-left: 100px;
  padding-bottom: 120px;
  width: 40%;
}
.Ten .Ten-one p{
  font-size: 60px;
  letter-spacing: 2px;
}
.Ten-one ul{
  margin-left: -20px;
  margin-top: -20px;
}
.Ten .Ten-one li{
  font-size: 16px;
  padding: 10px 0;
  letter-spacing: 1px;
}
.Ten-one a{
  position: relative;
  top: 30px;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid black;
  padding: 15px 40px;
  background-color: black;
  color:white;
  border-radius: 40px;
}
.Ten-one a:hover{
  background-color: #333;
  border: 1px solid #333;
}
.Ten-Two #Ten-Two-img2{
  position: relative;
  top: -480px;
  left: 130px;
  border-radius: 10px;
}
.Ten-Two{
  position: absolute;
  left: 708px; 
  margin-top: -550px;
}
.Eleven{
  padding-left: 210px;
  margin-top:-65px;
  padding-bottom: 100px;
  background-color:beige;
}
.Eleven .Eleven-one{
  display: inline-block;
  margin-top: -30px;
}
.Eleven #Eleven-p{
  padding-top: 90px;
  font-size: 65px;
  font-weight: lighter;
  line-height: 75px;
  letter-spacing: 3px;
}
.Eleven-one p{
  font-size:16px;
  font-weight: lighter;
  letter-spacing: 0.8px;
  line-height: 26px;
  margin-top: -5px;
  padding-bottom:30px;
}
.Eleven #Eleven-p2 a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding: 15px 40px;
  background-color: black;
  color: white;
  border-radius: 40px;
}
.Eleven #Eleven-p2 a:hover{
  background-color: cadetblue;
  border: 1px solid cadetblue;
  color: black;
}
.Twelve #Twelve-p1{
  text-align: center;
  font-size: 65px;
  font-weight: lighter;
  line-height: 83px;
  letter-spacing: 1px;
}
.Twelve-one{
  padding-left: 240px;
  padding-bottom: 75px;
}
.Twelve-one p{
  font-size: 17px;
  letter-spacing:1.2px;
  line-height: 26px;
  color:#333;
}
.Twelve-one a{
  color:#333;
  font-size: large;
  font-weight: bold;
  padding-right: 30px;
  text-decoration: none;
}
.Twelve-one a:hover{
  color: blue;
}
.Twelve-one a::after{
  content: ">";
  font-size:20px;
  position: relative;
  top: 2px;
  padding-left: 2px;
}
.Twelve span{
  text-decoration-line:underline;
}
.Twelve a{
  text-decoration-line:underline;
}
.Twelve-one-1{
  display: inline-block;
}
.Twelve-one-1 h2{
  padding-top: 15px;
}
.Thirteen{
  margin-top: 150px;
}
.Thirteen-1{
  padding-top:60px;
  padding-left: 140px;
  padding-bottom: 110px;
  background-color:black;
  color: white;
  width: 40%;
}
.Thirteen-1 p:first-child{
  font-size: 65px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 75px;
}
.Thirteen-1 h3{
  margin-top: -25px;
  line-height: 26px;
}
.Thirteen-1 ul{
  /* margin-left: -20px; */
  margin-top: 35px;
} 
.Thirteen-1 li{
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1.2px;
  padding-bottom: 15px;
}
.Thirteen-1 a{
  text-decoration: none;
  font-size: 17px;
  font-weight:bold;
  border: 1px solid white; 
  background-color: white;
  padding: 15px 50px;
  border-radius:40px;
  color: black;
}
.Thirteen-1 a:hover{
  border: 1px solid lightseagreen;
  background-color: lightseagreen;
  color: white;
}
.Thirteen-2{
  float: right;
  margin-top: -746px;
}
.Fourteen{
  text-align: center;
}
.Fourteen #Fourteen-p1{
  font-size: 55px;
}
.Fourteen .Fourteen-p2{
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 15px;
}
.Fourteen a{
  font-size: medium;
  font-weight: bold;
  border: 1px solid cadetblue;
  padding: 15px 50px;
  text-decoration: none;
  color:black;
  background-color:cadetblue;
  border-radius: 25px;
}
.Fourteen a:hover{
  background-color:darkcyan;
  border: 1px solid darkcyan;
  color:white;
}
.Fifteen{
  background-color:lavenderblush;
  margin-top: 120px;
  padding-bottom: 110px;
}
#Fifteen-1{
  text-align: center;
  padding-top: 40px;
}
.Fifteen #Fifteen-1 p{
  font-size: 70px;
  font-weight: lighter;
  letter-spacing: 1px;
}
#Fifteen-1 h3{
  margin-top: -30px;
  font-size: 21px;
}
#Fifteen-2{
  padding-left: 310px;
  padding-top: 35px;
}
#Fifteen-2 span{
  font-size: 20px;
  padding-right: 5px;
  font-weight: bold;
}
#Fifteen-2 p{
  font-size: 20px;
  letter-spacing: 1.2px;
  padding-bottom: 15px;
}
#Fifteen-3{
  text-align: center;
  padding-top: 43px;
}
#Fifteen-3 a:first-child{
  text-decoration: none;
  border: 1px solid lightblue;
  padding: 15px 50px;
  font-size: 18px;
  font-weight: bold;
  background-color:lightblue;
  border-radius: 40px;
  color: black;
}
#Fifteen-3 a:first-child:hover{
  background-color:darkgrey;
  border: 1px solid darkgray;
}
#Fifteen-3 a:nth-child(2){
  text-decoration: none;
  margin-left: 20px;
  font-size: large;
  font-weight: bold;
  padding-right: 15px;
  border-bottom: 2px solid black;
  color: black;
}
#Fifteen-3 a:nth-child(2):hover{
  color: #3374FF;
}
.Sixteen{
  background-color: black;
  color: white;
  padding-bottom: 50px;
}
.Sixteen-1{
  padding-left: 90px;
  padding-top: 70px;
}
.Sixteen-1 p{
  font-size: 80px;
  font-weight: lighter;
  line-height: 90px;
}
.Sixteen-1 a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 55px;
  border-radius: 40px;
  background-color:khaki;
  border: 1px solid khaki;
  color: black;
}
.Sixteen-1 a:hover{
  border: 1px solid lightgray;
  background-color:lightgray;
}

#Sixteen-float{
  float: right;
  margin-top: -600px;
}
.Sixteen-2 img{
border: 1px solid transparent;
border-radius: 20px;
margin:30px 20px;
}
.image-1:hover{
  margin: 20px 0;
}
.image-2:hover{
  margin: 20px 0;
}
.image-3:hover{
  margin: 20px 0;
}
.image-4:hover{
  /* margin: 20px 0; */
  margin: 20px 0;
}
.Seventeen{
  margin-top: 78px;
}
.Seventeen .Seventeen-1 p{
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 3px;
  color: #333;
  padding-left: 80px;
}
.Seventeen-2 p{
  font-size: 21px;
  letter-spacing: 0.8px;
  line-height: 35px;
  word-spacing:8px;
  color:#333;
  padding-bottom: 15px;
}
.Seventeen-2{
  float: right;
  margin-top: -390px;
  margin-right: 70px;
}
.Seventeen-2 a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 40px;
  background-color:mediumaquamarine;
  border: 1px solid mediumaquamarine;
  color: black;
  word-spacing: 1px;
}
.Seventeen-2 a:hover{
  background-color:cadetblue;
  border: 1px solid cadetblue;
}
.Nineteen{
  padding:70px 0 120px 175px;
  margin-top: 70px;
  background-color:tan;
}
#Nineteen-p1{
  font-size: 63px;
}
.Nineteen-1 p{
  font-size: 17px;
  letter-spacing: 1.5px;
  line-height: 26px;
  color:black;
}
.Nineteen-1 hr{
  border: 1px solid black;
}
.Nineteen-1{
  display: inline-block;
  padding-right:80px;
  margin-top: -10px;
}
.Nineteen-1 a{
  color: black;
}
.Nineteen-1 a:hover{
  color: blue;
}
.Twenty{
  margin-left: 210px;
  margin-top: 90px;
  border: 1px solid lightgray;
  border-collapse: collapse;
  width: 78%;
}
.Twenty span{
  text-decoration-line:underline ;
}
.Twenty a{
  text-decoration: none;
  position: relative;
  top: 2px;
  left: 5px;
}
.Twenty-1 button{
  background-color: transparent;
  border: none;
}
.Twenty-1 p{
  margin-top:-3px;
  font-size: 20px;
  font-weight:lighter;
  line-height: 32px;
  letter-spacing:0.8px;
  word-spacing: 2px;
  margin-left: 5px;
}
#p2{
  font-size: 50px;
  font-weight: lighter;
  padding-left: 210px;
  position: relative;
  top: 60px;
}
.Twenty-1{
  border: 1px solid lightgray;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 30px;
}
.Twenty-1 .Span{
  text-decoration-line: none;
  position:absolute;
  right: 190px;
  font-size:35px;
}
.Twentyone p{
  font-size: 75px;
  word-spacing: 3px;
  font-weight: lighter;
  padding-top: 130px;
  letter-spacing: 1px;
  color: #333;
}
.Twentyone{
  text-align: center;
  /* background-color: #ADD8E6; */
  background-color:lightblue;
  margin-top: 120px;
  padding-bottom: 170px
}
.Twentyone a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  color: white;
  background-color: black;
  padding: 15px 40px;
  border-radius: 40px;
}
.Twentyone a:hover{
  background-color: #333;
  border: 1px solid #333;
}
.TwentyTwo{
  margin-left: 120px;
}

.TwentyTwo .TwentyTwo-1 a{
  color:#333;
  text-decoration: none;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1.2px;
}
.TwentyTwo .TwentyTwo-1 a:hover{
  color: blue;
}

.TwentyTwo-1 #Twentyp2{
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 1.3px;
  line-height: 29px;
}
.TwentyTwo-1{
  display: inline-block;
  padding-right: 55px;
}
.Twentythree{
  margin-top: 100px;
  text-align: center;
}
.Twentythree a{
  color:#333;
  text-decoration: none;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1.2px; 
}
.Twentythree a:hover{
  color: blue;
}
.Twentythree p{
  display: inline-block;
  padding: 0 50px;
  padding-bottom:30px;
}